/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 8, 2019, 1:05:27 PM
    Author     : doglas
*/

#d3_selectable_force_directed_graph svg {
    border: 1px solid;
    font: 13px sans-serif;
    text-anchor: end;
}

#d3_selectable_force_directed_graph .node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node .selected {
  stroke: black;
}

.link {
  stroke: #999;
}