/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 27, 2019, 4:21:25 PM
    Author     : mariana
*/

.panel-heading{
    background-color: blue;
    color: white;
    border-radius: 20px 20px 5px 5px;


}

.panel-title{
    padding-right: 20px;
    padding-left: 20px

}

.panel-collapse{
    border-width: 1px;
    border-color: #999;
    border-style: solid;
}

.paddingCollapse{
    padding-bottom: 10px;
    padding-top: 10px;
}

a:hover {
  text-decoration: underline;
  color: white;
}