/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 13, 2019, 12:05:45 PM
    Author     : doglas
*/

.dist-info{
    font-size: 34px;
    text-align: center;
    color: black;
}

body {
    font-family: 'Open Sans', sans-serif;
}
.title-holder {
    text-align: center;
}
.title {
    font-family: 'Lato', sans-serif;
}
.subtitle {
    font-size: 20px;
}
.font {
    font-size: 18px;
}

/* legend */
.legend {
    font-size: 14px;
}
rect {
    cursor: pointer; 
    stroke-width: 2;
}
rect.disabled {
    fill: transparent !important;
}

/* chart */
#chart {
    height: 800px;
    margin: 0 auto;
    position: relative;
    display: block;
    width: 1200px;
}

/* tooltip */
.tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    display: none;
    font-size: 18px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 80px;
    z-index: 10;
}

.sub-title-regulators{
    margin-left: 650px;
    font-size: 22px; 
    margin-top: 20px;
}

.sub-title-regulations{
    margin-left: 120px;
    font-size: 22px; 
    margin-top: 20px;
}

.space-from-last{
    margin-top: 150px;
}

.pie-chart-pos{
    fill: white; 
    font-weight: bold; 
    padding-left: 10%;
}

@media (max-width: 2000px) { 
    .sub-title-regulators{
        margin-left: 250px;
    }

    .sub-title-regulations{
        margin-left: 80px;
    }
}

@media (max-width: 1700px) { 
    .sub-title-regulators{
        margin-left: 150px;
    }

    .space-from-last{
        margin-top: 120px;
    }
}

@media (max-width: 1500px) { 
    .sub-title-regulators{
        margin-left: 80px;
    }

    .sub-title-regulations{
        margin-left: 60px;
    }
}

@media (max-width: 1300px) { 
    .sub-title-regulators{
        margin-left: 0px;
        margin-right: 50px;
    }
}

@media (max-width: 700px) { 
    .sub-title-regulators{
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }

    .sub-title-regulations{
        margin-left: 0px;
        text-align: center;
    }

    .pie-chart-pos{
        padding-left: 0%;
    }

    .space-from-last{
        margin-top: 0px;
    }

    .dist-info{
        font-size: 20px;
    }
}