/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 1, 2019, 11:11:02 AM
    Author     : doglas
*/

.tutorial-title-size{
    font-size: 30px;
}

.tutorial-font-size{
    font-size: 18px;
}

.tutorial-subtitles-font-size{
    font-size: 18px;
    font-weight: bold;
}

p a{
   color: blue;
   font-size: inherit;
   text-decoration: underline
}

.hmm-image{
    width: 100%;
    padding: 100px;
    padding-top: 30px;
}